body{
    background-color: #d4df9a; 
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; 

}

.imglogo{
    width: 100px;
    height: 100px;
}

.navbar {
    width: auto;
    height: auto;
    border-radius: 15px;
}

.d-block{
    width: auto;
    height: auto;
    border-radius: 20px;
}


/* footer */

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body {
    height: 100vh;
  }
  .footer {
    border-radius: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: rgb(8, 12, 11);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-top: 8px;
  }
  